<form
  action="https://formspree.io/f/xvoljgpz"
  method="POST"
>
  <label>
    Namn:
    <input type="text" name="namn" />
  </label>  

  <label>
    E-postadress:
    <input type="email" name="epost" />
  </label>

  <label>
    Meddelande:
    <textarea name="meddelande"></textarea>
  </label>

  <button type="submit">Skicka</button>

  <input type="hidden" name="_language" value="sv" />
</form>

<style>
  /* Some nice boilerplate CSS to tidy up your form */
  form {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 1rem;
    text-align: left;
    padding: 2rem 0;
    margin: 0;
  }
  form label {
    display: contents;
  }
  form input[type="email"],
  form textarea,
  form button {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid currentColor;
    background: none;
    padding: 0.4rem 0.5rem;
  }
  form textarea {
    resize: vertical;
  }
  form button {
    justify-self: start;
  }
  button[type=submit] {
    background: #ff8200; 
    letter-spacing: 1px;
    font-size: .9375rem;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 10px;
    color: #fff;
    line-height: 1;
    padding: 1.367em 2.5em;
    border: none;
  }
  button[type=submit]:hover {
    background: #ffd04d;
  }

  @media all and (max-width: 768px) {
    form {
      display: inline-grid !important;
      width: 100%;
    }
  }
</style>